@import "../../app.component.scss";

.over-table-section {
    @extend .shard-flex-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .right-section {
        flex-wrap: wrap;

        .custom-btn-right {
            @extend .shard-flex;
            @extend .custom-btn-back;
            @include transition(all);
            background-color: var(--primary-color-white);
            border: 1px solid var(--custom-btn-border-color);

            &:hover {
                background-color: var(--custom-btn-hover-bg);
            }
        }
    }

    .left-section {
        .custom-btn-left {
            @extend .shard-flex;
            @include transition(all);
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
            color: var(--primary-color-white);
            width: 100px;
            height: 35px;

            span {
                font-size: 12px;
            }
        }
    }

    div:first-child,
    div:last-child {
        @extend .shard-flex-between;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

:host ::ng-deep {
    .p-inputswitch {
        width: 34px;
        height: 18px;
        display: block;

        &.p-focus .p-inputswitch-slider {
            box-shadow: none;
        }

        .p-inputswitch-slider {
            background: var(--primary-color);

            &:before {
                background: var(--primary-color-white);
                width: 13px;
                height: 13px;
                top: 70%;
                left: 2.5px;
            }
        }

        &.p-inputswitch-checked .p-inputswitch-slider {
            background: var(--switch-bg);

            &:before {
                transform: translateX(1rem);
            }
        }
    }
}