@import "../../../shard.scss";

.custom-card {
    background: var(--primary-color);
    width: 100%;
    height: 290px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 35px;
        height: 35px;
        background: var(--body-bg);
        border-radius: 50%;
    }

    &::before {
        left: -20px;
    }

    &::after {
        right: -20px;
    }

    .card-content {
        position: absolute;
        inset: 0;
        z-index: 999;

        .card-top {
            position: absolute;
            top: 16px;
            right: 0;
            left: 0;
            @extend .shard-flex;
            flex-direction: column;

            .delete-icon {
                position: absolute;
                left: 0;
                top: -3px;
            }

            .custom-card-title {
                font: {
                    size: 14px;
                    weight: 500;
                }

                text-align: center;
                color: var(--primary-color-white);
            }

            .copy {
                position: relative;
                width: 226.2px;
                height: 40px;
                background: var(--primary-color-white);
                border: 0.83px solid var(--copy-section-border-color);
                @extend .shard-flex-evenly;

                p {
                    font: {
                        size: 13px;
                        weight: 500;
                        family: var(--second-font);
                    }

                    line-height: 23.28px;
                    text-align: left;
                }
            }

            p:last-of-type {
                font: {
                    size: 14px;
                    weight: 400;
                }
            }
        }

        .card-bottom {
            position: absolute;
            bottom: 16px;
            right: 20px;
            left: 20px;
            @extend .shard-flex-between;
            align-items: flex-end;

            .custom-btn-transparent {
                @extend .shard-flex;
                padding: 4px 6px;
                background-color: transparent;
                color: var(--primary-color-white);
                border: 1px solid var(--primary-color-white);
                @include transition(all);

                span {
                    font: {
                        size: 14px;
                        weight: 500;
                    }
                }

                svg path {
                    @include transition(all);
                }

                &:hover {
                    background-color: var(--primary-color-white);
                    color: var(--primary-color);
                    border-color: var(--custom-btn-bg);
                }

                &:hover svg path {
                    fill: var(--primary-color);
                }
            }

            &>div {
                @extend .shard-flex-between;
                align-items: flex-end;

                font: {
                    weight: 400;
                    family: var(--main-font);
                }

                p:first-of-type {
                    font-size: 14px;
                }

                p:last-of-type {
                    font-size: 17px;
                }
            }
        }
    }

    .svg-container {
        .svg {
            position: absolute;
            z-index: 1;
            inset: 0;
        }
    }
}

:host ::ng-deep {
    .qrcode img {
        border-radius: 5px !important;
    }

    .p-toast .p-toast-message .p-toast-message-content {
        padding: .4rem 1rem;
    }

    .p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon {
        display: none;
    }

    .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
        margin: 4px 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .custom-card {

        &::before,
        &::after {
            width: 30px;
            height: 30px;
        }

        .card-content {
            .card-top {
                .delete-icon {
                    svg {
                        width: 20px;
                    }
                }

                .copy {
                    width: 200px;
                    height: 35px;

                    P {
                        font-size: 12px;
                    }
                }

                p:last-of-type {
                    font-size: 13px;
                }
            }

            .card-bottom {
                right: 16px;
                left: 16px;

                .custom-btn-transparent {
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    :host ::ng-deep {
        .qrcode img {
            width: 70px;
        }
    }
}