@import '../../../shard.scss';

.apex-charts {
    width: 100%;
    height: 290px;
    background-color: var(--primary-color-white);

    .chart-header {
        @extend .shard-flex-between;

        .chart-title {
            @extend .shard-flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: center;

            font: {
                size: 14px;
                weight: 400;
            }

            p:first-of-type {
                color: var(--chart-title-color);
                font-size: 16px;
            }

            p:last-of-type {
                span {
                    font-family: var(--second-font);
                    color: var(--chart-second-title-color);
                }
            }
        }

        .custom-btn {
            width: 67.37px;
            height: 30.28px;
            background: var(--chart-custom-btn-bg);
            border: 1px solid var(--chart-custom-btn-color);
            @include transition(background-color);

            &:hover {
                background-color: var(--chart-custom-btn-color);
            }

            span {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;

            .custom-btn {
                align-self: flex-end;
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: 320px;
    }
}

:host ::ng-deep {
    .arrow_box {
        position: relative;
        text-align: center;
        color: var(--chart-tooltip-color-text) !important;
        background: var(--chart-tooltip-color-bg);
        border: none !important;
        width: 90.58px;
        height: 41.13px;
        padding: 1px 5px;
        border-radius: 6.5px;

        &>p {
            font-size: 12.11px;
        }

        &>div {
            @extend .shard-flex;
            justify-content: flex-start;
            font-size: 10px;
            color: var(--primary-color);
        }
    }

    .apexcharts-tooltip {
        border: none !important;
        transform: translateY(5px);
        white-space: normal !important;
    }
}