@import "../shard.scss";

.custom-btn {
    @extend .shard-flex;
    @include transition(all);
    background-color: var(--custom-btn-bg);
    border: 1px solid var(--custom-btn-border-color);
    width: 78px;
    height: 34px;

    span {
        font: {
            size: 14px;
            weight: 400;
        }
    }

    &:hover {
        background-color: var(--custom-btn-hover-bg);
    }
}

.custom-btn-back {
    @extend .shard-flex;
    @include transition(all);
    width: 32px;
    height: 32px;
    background: var(--custom-btn-back-bg);
    border: var(--custom-btn-back-border-color) 1px solid;

    &:hover {
        background-color: var(--custom-btn-back-hover-bg);
    }
}