@import "../../../shard.scss";

.table {
    .table-header-and-footer {
        line-height: 23.24px;
        padding: 0;
        height: 41px;
        text-align: center;
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

    div.avatar {
        font: {
            size: 11.62px;
            weight: 500;
            family: var(--second-font);
        }

        @extend .shard-flex;
        color: var(--primary-color-white);
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .user-phone {
            font: {
                size: 9.96px;
                weight: 400;
                family: Poppins;
            }

            color: var(--table-user-phone-color);
        }
    }

    .ticket-info {
        @extend .shard-flex;
        flex-direction: column;

        span:last-of-type {
            color: var(--table-ticket-info-color);

            font: {
                size: 10px;
                weight: 400;
                family: var(--second-font);
            }

            line-height: 15px;
            text-align: right;
        }
    }

    .footer-paginator {
        font-size: 12px;
        font-family: var(--main-font);

        font: {
            size: 12px;
            family: var(--main-font);
        }

        color: var(--table-footer-color);
        @extend .shard-flex-between;
    }
}

:host ::ng-deep {
    .p-datatable-wrapper {
        border-radius: 8px;
    }

    .p-datatable {
        .p-datatable-thead {
            tr {
                background: var(--table-header-bg);

                th {
                    font: {
                        size: 13.28px;
                        weight: 400;
                        family: var(--main-font);
                    }

                    @extend .table-header-and-footer;
                    color: var(--table-cell-color);
                    background: transparent;

                    &:first-of-type {
                        border-radius: 0 5px 5px 0;
                    }

                    &:last-of-type {
                        border-radius: 5px 0 0 5px;
                    }
                }
            }
        }

        .p-datatable-tbody {
            tr {
                background: var(--primary-color-white);
                color: var(--table-body-color);
                text-align: center;

                font: {
                    size: 11.62px;
                    weight: 400;
                    family: var(--main-font);
                }

                td {
                    padding: 12px 10px;
                    text-align: center;
                    border-bottom: 1px solid var(--table-td-border-color);
                }
            }
        }

        .p-datatable-tfoot {
            tr {
                td {
                    font: {
                        size: 13.28px;
                        weight: 400;
                        family: var(--main-font);
                    }

                    @extend .table-header-and-footer;
                    color: var(--table-cell-color);
                    background: var(--primary-color-white);
                }
            }
        }
    }

    .p-paginator {
        padding: 10px 0 5px;

        .p-paginator-pages {
            .p-paginator-page {
                border: 0 none;
                color: var(--paginator-color);
                min-width: 27px;
                height: 27px;
                border-radius: 5px;
                font-size: 13px;
                margin: 0 6px;
            }

            .p-paginator-page.p-highlight {
                background: var(--primary-color);
                border-color: #EFF6FF;
                color: var(--primary-color-white) !important;
            }
        }

        .p-paginator-prev,
        .p-paginator-next {
            border: 0 none;
            rotate: 180deg;
            color: var(--paginator-color);
            min-width: 27px;
            height: 27px;
            border-radius: 5px;
        }
    }

    .p-dropdown {
        height: 27px;

        &:not(.p-disabled):hover {
            border: 1px solid var(--primary-color);
        }

        .p-inputtext {
            font-size: 12px;
            padding: 0 5px;
        }

        .p-dropdown-trigger {
            background: transparent;
            color: var(--paginator-color);
            width: 18px;

            .p-icon {
                width: 10px;
                height: 10px;
            }
        }

        &:not(.p-disabled).p-focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 4px 0.05rem var(--dropdown-shadow);
            border-color: var(--primary-color);
        }
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        margin: 0px;
        padding: 5px 10px;

        font: {
            size: 13px;
            family: var(--main-font);
        }
    }
}